<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwh.serve.mapper.CollectedArticleMapper">

    <insert id="save">
        insert into collected_article(user_id, article_id)
        values (#{userId}, #{articleId})
    </insert>

    <select id="list" resultType="com.itwh.pojo.entity.Article">
        select a.id, a.title, a.preview, a.link, a.like_num, a.collect, a.author, a.picture
        from article a, collected_article ca
        where ca.user_id = #{userId} and a.id = ca.article_id
    </select>

</mapper>