<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwh.serve.mapper.FoodAndDietMapper">

    <insert id="saveBatch">
        insert into food_and_diet(food_id, diet_id, food_num) values
        <foreach collection="foodAndDiets" item="fd" separator=",">
            (#{fd.foodId}, #{fd.dietId}, #{fd.foodNum})
        </foreach>
    </insert>

    <delete id="delete">
        delete from food_and_diet
        <where>
            <if test="foodId != null">and food_id=#{foodId}</if>
            <if test="dietId != null">and diet_id=#{dietId}</if>
        </where>
    </delete>

    <select id="listBydietId" resultType="com.itwh.pojo.vo.FoodDetailVO">
        select fd.id, fd.name, fd.picture, fd.type, fd.GI, fd.GL, fd.glucose, fd.heat, fd.protein, fd.fat, fd.carbohydrate, fad.food_num
        from food_detail fd, food_and_diet fad
        where fad.diet_id = #{dietId} and fad.food_id = fd.id
    </select>

</mapper>