<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwh.serve.mapper.MedicineRecordMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into medicine_record(user_id, period_label, record_time, create_time)
        values (#{userId}, #{periodLabel}, #{recordTime}, #{createTime})
    </insert>

    <update id="update">
        update medicine_record
        <set>
            <if test="periodLabel != null">period_label=#{periodLabel},</if>
            <if test="recordTime != null">record_time=#{recordTime},</if>
        </set>
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="userId != null">and user_id=#{userId}</if>
        </where>
    </update>

    <delete id="delete">
        delete from medicine_record
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="userId != null">and user_id=#{userId}</if>
        </where>
    </delete>

    <select id="listByDate" resultType="com.itwh.pojo.entity.MedicineRecord">
        select * from medicine_record
        <where>
            <if test="beginTime">and record_time &gt; #{beginTime}</if>
            <if test="endTime">and record_time &lt; #{endTime}</if>
        </where>
    </select>

</mapper>