<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwh.serve.mapper.SportDetailAndRecordMapper">

    <insert id="saveBatch">
        insert into sport_detail_and_record(sport_id, record_id, time) values
        <foreach collection="sportDetailAndRecords" item="sdar" separator=",">
            (#{sdar.sportId}, #{sdar.recordId}, #{sdar.time})
        </foreach>
    </insert>
    
    <delete id="delete">
        delete from sport_detail_and_record where id in 
        <foreach collection="removeSportDetailAndRecords" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="listBySportRecordId" resultType="com.itwh.pojo.vo.SportDetailVO">
        select sd.id, sd.name, sd.type, sd.consumption, sdar.time
        from sport_detail sd, sport_detail_and_record sdar
        where sdar.record_id = #{sportRecordId} and sdar.sport_id = sd.id
    </select>


</mapper>